@font-face {
    font-family: LatoRegular;
    src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoMedium;
    src: url(./fonts/Lato-Medium.ttf);
}

header {
    background-color: #4c4c51;
    display:grid;
    padding:10px;
    margin:5px
}

header h1 {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding-top: 10px;
    text-align: center;
}
header h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin:10px;
    padding:5px;
    text-align: center;
}
header h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin:10px;
    padding:5px;
    text-align: center;
}
nav {
    top: 0px;
    margin:5px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*position: fixed;   */
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
section h1,
h2 {
    color: rgb(13, 61, 15);
}
p{
    color:darkred;
    font-size: 1.2rem;
}
footer {
    display:grid;
    top:180px;
    background-color: #4c4c51;
    height: 40px;
    padding-left:10px;
    margin:5px
}
img{
    margin:10px;
    padding:10px;
    position: relative;
    left:340px;
    top:10px

}
.tarea4{
    border:1px #111 solid;
    color:#333;
    margin:5px auto;
    padding:5px;
    background-color:#fff;
    width:400px;
    height: 180px;
    text-align:  center;
    display:flexbox;
    align-items: center;

}
label {
    font-family: LatoMedium, Arial, Helvetica, sans-serif;
    width: 150px;
    float: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: bolder;
}


.boton{
    background-color: #aaa;
    margin: 5px;
    color:#111;
    
}
